<h1>Inserisci partita</h1>

<form action="/login" method="POST">
    <input type="text" name="name" placeholder="Team Name">
    <input type="text" name="is_still_in" placeholder="true/false">
    <input type="submit" value="Submit!">
</form>